.modal-body-auth {
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(11px) saturate(187%);
	background-color: rgba(51, 8, 93, 0.2);
	opacity: 95%;

	.modal-body {
		padding: 50px;
		background-color: rgb(169, 123, 255);
	}

	.form-title-change-password-prof {
		margin-bottom: 30px;
		text-align: center;
	}

	.form-change-password-prof {
		margin-bottom: 40px;

		.mb-3 {
			margin-bottom: 40px !important;
		}
	}

	.btn-auth-container {
		margin-top: 30px;
		display: flex;
		justify-content: space-evenly;
	}

	.btn-auth {
		height: 50px;
		width: 150px;
		margin: 0;
		font-size: medium;

		&.close {
			background-color: rgb(82, 82, 82);
			&:hover {
				background-color: rgb(43, 43, 43);
			}
		}
	}
}

.padlock-Ui {
	border-radius: 10px;
	height: 70px;
	width: 100px;
	display: flex;
	justify-content: flex-start;

	.padlock {
		height: 40px;
	}
}
