.form-module {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: larger;

	.form-module-group {
		width: 40%;

		.mb-3 {
			margin-bottom: 3rem !important;
		}
	}

	.checks {
		display: flex;
		justify-content: space-evenly;
	}

	.oui-choice {
		display: flex;
		align-items: center;
		flex-direction: column;

		.add-sous-module {
			display: flex;
			flex-direction: row;
			gap: 50px;
		}
	}
}
