.navigation {
	height: 80px;
	padding: 50px 40px 45px 50px;
	width: 100%;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
	top: 0;
	position: fixed;
	z-index: 100;
	background-color: white;
	color: black;

	.nav-links-container {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		font-size: 1.2rem;

		.nav-link {
			padding: 10px 15px;
			cursor: pointer;
		}
	}

	.logo-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logo {
		height: 50px;
	}
}
