.navigation {
	height: 70px;
	width: 100%;
	padding: 40px;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-around;
	top: 0;
	position: fixed;
	z-index: 100;
	color: white;
	transition: 0.4s;

	.nav-links-container {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		font-size: 1.1rem;

		.nav-link {
			padding: 10px 15px;
			cursor: pointer;
		}
	}

	.logo-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logo {
		height: 40px;
	}
}

.active {
	background-color: rgba(40, 3, 82, 0.95);
	transition: 0.4s;
}
