.buttons-container {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	padding: 40px;

	.links-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.link {
		display: flex;
		margin-bottom: 40px;
		height: 70px;
		width: 350px;
		color: white;
		justify-content: space-evenly;
		align-items: center;
		border-radius: 50px;
		border: none;
		background-color: rgb(64, 1, 116);
		&:hover {
			background-color: rgb(40, 7, 68);
		}

		.icon-button-admin {
			height: 30px;
		}
	}
}

.title-admin {
	margin: 150px auto 100px auto;
	display: flex;
	justify-content: center;
}
