.container-home {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-size: 10rem;
	font-weight: bold;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-top: 40px;

	.first-div {
		position: absolute;
		z-index: 10;
		width: 40%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		left: 10rem;

		.span-name {
			color: rgb(53, 0, 77);
		}

		.title-home {
			margin-top: 0;
			font-size: 4rem;
			font-weight: 900;
		}

		.buttons-home {
			display: flex;
			justify-content: center;
			flex-direction: row;
			gap: 80px;
		}

		.button-home {
			background-color: rgb(64, 1, 116);
			border-radius: 30px;
			border: none;
			width: 110%;
			margin-top: 70px;
			padding: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				background-color: rgb(40, 7, 68);
			}
		}

		.icon-button {
			width: 40px;
			margin-right: 15px;
		}
	}

	.blob {
		position: absolute;
		height: 700px;
		width: 700px;
		right: -15%;
		opacity: 0.7;
		z-index: 1;
	}

	.blob-2 {
		position: absolute;
		height: 1000px;
		width: 1000px;
		left: -15%;
		bottom: -35%;
		opacity: 0.4;
		z-index: 1;
	}

	.vect {
		position: absolute;
		z-index: 10;
		width: 43%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		right: 7rem;
	}
}

.container-emplois-etudiants {
	width: 100%;
	background-color: #f3f4f5;
	color: black;
}
