.dialogModule {
	width: 90%;
	height: 90%;
	max-width: none !important;
	max-height: none !important;
}

.contentModule {
	background-color: rgb(172, 172, 172);
}

.container-ss-modules {
	display: flex;
	justify-content: space-around;
	margin: 70px auto;
}

.title-ss-module {
	text-align: center;
}
