.auth-prof {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	margin-top: 150px;

	.form-prof {
		font-size: large;
		display: flex;
		padding: 50px;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 40px;
		width: 500px;

		.mb-4 {
			width: 100%;
		}

		.btn-auth-prof {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50px;
			width: 200px;
			border: none;
			height: 50px;
			color: white;
			background-color: rgb(64, 1, 116);
			&:hover {
				background-color: rgb(40, 7, 68);
			}
		}
	}
}
