body {
	margin: 0;
	font-family: 'Sora', sans-serif;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #8e2de2; /* fallback for old browsers */

	background: linear-gradient(to right, #4a00e0, #8e2de2);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	text-decoration: none;
	color: white;
}

* {
	box-sizing: border-box;
	list-style-type: none;
}

td {
	color: black;
}

.Modal {
	color: black;
}
