.page-prof {
	margin: 150px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.container-page-prof {
		display: inline-block;
		width: 70%;
	}

	.password-change {
		display: inline-block;
	}

	.table-emploi-prof {
		margin: 80px 0px;
	}

	.table-seances-prof {
		margin: 80px 0;
	}
}
