.page-prof {
	position: relative;
	margin: 150px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;

	.container-page-prof {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.password-change {
		position: absolute;
		top: 10px;
		right: -1.5%;
	}

	.table-emploi-prof {
		margin: 70px 0px;
		width: 200%;
	}

	.table-seances-prof {
		margin: 70px 0;
		width: 200%;
	}
}
