.page-prof {
	margin: 150px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.container-page-prof {
		display: inline-block;
	}

	.password-change {
		display: inline-block;
	}
}
