.password-change {
	display: flex;
	align-items: center;
	flex-direction: column;

	.btn-change-password {
		margin-bottom: 45px;
	}

	.form-change-password {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}
